<template>

  <div class="query-form card">
    <div class="card-content">
      <h2 class="title">{{ id ? 'Істі жаңарту' : 'Іс қосу' }}</h2>
      <ui-input name="title"
                label="Атауы"
                v-model="title"
                v-validate="'required'"
                :error="getError('title')"
                @enter="validate"
      />
      <ui-input name="description"
                type="textarea"
                label="Сипаттамасы"
                v-model="description"
      />
      <ui-input name="date"
                type="date"
                label="Бастау мерзімі"
                v-model="date"
                @enter="validate"
      />
      
      <ui-input name="end_date"
                type="date"
                label="Аяқтау мерзімі"
                v-model="end_date"
                @enter="validate"
      />
      <div class="field is-grouped">
        <ui-button type="primary" @click="validate">{{ id ? 'Жаңарту' : 'Қосу' }}</ui-button>
        <ui-button type="text" @click="cancel">Болдырмау</ui-button>
      </div>
    </div>
  </div>

</template>

<script>

function data () {
  return {
    id: null,
    title: '',
    description: '',
    date: null,
    end_date:null,
    message: '',
  }
}

export default {
  data () {
    return data()
  },

  computed: {
    values () {
      return this.$data
    }
  },

  methods: {
    show (data) {
      Object.assign(this, data)
      this.$el.querySelector('input').focus()
    },

    validate () {
      this.$validator
        .validate()
        .then(state => {
          if (state) {
            return this.submit()
          }
          this.message = 'Please complete the required fields!'
        })
    },

    submit () {
      this.$emit('submit', this.values)
      
      this.reset();
      
    },

    cancel () {
      this.$emit('cancel', this.values)
      this.reset()
    },

    reset () {
      Object.assign(this, data())
    },

    getError (name) {
      return (this.errors.first(name) || '').replace(/The .+ field/, 'This field')
    }
  }
}

</script>

<style lang="scss">

</style>
