<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Жауап мазмұны:</h6>
        <hr>
        <vue-editor v-model="answer.content" :config="instructions.config.editor"/>
      </div>
      <div class="col-sm-12 text-center">
        <a href="javascript:void(0)" @click="selectAccuracy(btn.value)" :class="btn.selected ? 'selector width-33 btn btn-success color--white' : 'selector width-33 btn btn-secondary color--white'" v-for="btn in answer_acc" v-if="!hasRightAnswer">{{ btn.title }}</a>
        <a href="javascript:void(0)" @click="selectAccuracy(btn.value)" :class="btn.selected ? 'selector width-33 btn btn-success color--white' : 'selector width-33 btn btn-secondary color--white'" v-for="btn in answer_acc" v-if="hasRightAnswer && btn.value != 100">{{ btn.title }}</a>
      </div>
      <div class="col-sm-12 mg-t-15" style="padding-left:0px; padding-right:0px;" v-if="!hasRightAnswer">
        <label class="ckbox">
          <input type="checkbox" v-model="answer.isAnswer" @change="changingValues">
          <span style="font-size:17px;">Дұрыс жауап</span>
        </label>
      </div>
    </div>
    
    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-info width-150" @click="saveAnswer">Сақтау</button>
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../../config/instructions/editor/addQuestion.json'

export default {
  props:[
    'bank', 'answerid'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},

      answer:{
        id: '',
        content : "",
        isAnswer: false,
        accuracy: 0
      },

      answer_acc: [
        {
          title: '0%-ға біледі',
          value: 0,
          selected: false
        },
        {
          title: '50%-ға біледі',
          value: 50,
          selected: false
        },
        {
          title: '100%-ға біледі',
          value: 100,
          selected: false
        },
      ],

      hasRightAnswer: false
    }
  },
  methods: {
    saveAnswer: function(){
      if(this.answer.content != ''){
        this.$swal("Success!", "There cannot be empty answer", "success", { button: "Aww yiss!"})
        this.$emit('close')
      }else{
        this.$swal("Error!", "There cannot be empty answer", "warning", { button: "Aww yiss!"});
      }
    },
    changingValues: function(){
      this.hasRightAnswer = !this.hasRightAnswer
    },
    selectAccuracy: function(value){
      this.answer.accuracy = value

      this.answer_acc.forEach(element => {
        element.selected = false
        this.answer.isAnswer = false
        this.hasRightAnswer = false

        if(element.value == value){
          if(element.value == 100){
            this.answer.isAnswer = true
          }
          element.selected = true
        }
      });
    }
  },
  created() {
    this.bank.forEach(element => {
      if(element.isAnswer){
        this.hasRightAnswer = true
      }

      if(element.id == this.answerid){
        this.answer = element
      }
    });

    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .width-150{
    width: 150px;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
