<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepTwo.init[locale] }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Құрастыру құралдарының біреуін таңдаңыз:</h4>
          </div>
          <div class="col-sm-12">
              <a href="javascript:void(0)" @mouseleave="resetInstructions" @mouseover="instructionsContent(btn.variant)" @click="selectConstructor(btn.variant)" :class="btn.selected ? 'selector btn btn-success color--white' : 'selector btn btn-secondary color--white'" v-for="btn in qtypes">{{ btn.title }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" disabled>Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесі</button>
          </div>  
        </div>
      </div>
    </div>

  </div>
</template>

<script>

//config
import instructionsInit from './../../../../../config/instructions/editor/addQuestion.json'

export default {
  props:[
    'stepDatas', "locale"
  ],
  components: { 

  },
  data () {
    return {
      instructions: {},
      qtypes: [
        {
          title: 'Бір жауапты сұрақ',
          variant: 'onevariant',
          selected: false
        },
        {
          title: 'Бірнеше жауапты сұрақ',
          variant: 'manyvariant',
          selected: false
        },
        {
          title: 'Классикалық сұрақ',
          variant: 'classic',
          selected: false
        },
        {
          title: 'Бос орынды толтыру сұрағы',
          variant: 'fillblank',
          selected: false
        },
        {
          title: 'Сәйкестендіру сұрағы',
          variant: 'matching',
          selected: false
        },
        {
          title: 'Бос орынға сәйкес жауыпты қоюу сұрағы',
          variant: 'manymatching',
          selected: false
        },
        {
          title: 'Дұрыс/Бұрыс',
          variant: 'truefalse',
          selected: false
        }
      ]
    }
  },
  methods: {
    setup:function(){
      this.stepDatas.title = "",
      this.stepDatas.variant = ""
    },
    instructionsContent: function(temp){
      $('#content').html(this.instructions.steps.stepOne[temp][this.locale]);
    },
    selectConstructor: function(variant){
      this.qtypes.forEach(element => {
        element.selected = false

        if(element.variant == variant){
          element.selected = true
          this.stepDatas.title = element.title
          this.stepDatas.variant = variant
        }
      });
    },
    resetInstructions: function(){
      $('#content').html(this.instructions.steps.stepOne.init[this.locale]);
    },
    nextStep: function(){
      if(this.stepDatas.variant != ''){
        this.qtypes.forEach(element => {
          if(element.selected){
            this.stepDatas.title = element.title,
            this.stepDatas.variant = element.variant
          }
        });
        this.$emit('next')
      }else{
        alert(this.instructions.alerts.stepOne.selectVariant[this.locale])
      }
    }
  },
  created() {
    this.setup()
    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
