<template>
  <div id="questionAdd">
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>

    <div class="br-mainpanel">
      <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">Сұрақ қосу</h4>
        <p class="mg-b-0">Do big things with Bracket, the responsive bootstrap 4 admin template.</p>
      </div>

      <div class="br-pagebody mg-t-5 pd-x-30">
          <step-one v-if="step == 1" :stepDatas="stepOne" :locale="locale" @next="next" @back="back"></step-one>
          <step-two v-if="step == 2" :stepDatas="stepTwo" @next="next" @back="back"></step-two>
          <step-three v-if="step == 3" :stepDatas="stepThree" :builder="stepOne" @next="next" @back="back"></step-three>
      </div>

      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">EDU Con.kz &copy; 2019.</div>
          <div>The slogan.</div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>

import LeftMenu from './../../components/Editor/PageComponents/Menus/Left.vue'
import TopMenu from './../../components/Editor/PageComponents/Menus/Top.vue'
import RightMenu from './../../components/Editor/PageComponents/Menus/Right.vue'

import StepOne from './../../components/Editor/PageComponents/Editor/AddQuestion/StepOne.vue'
import StepTwo from './../../components/Editor/PageComponents/Editor/AddQuestion/StepTwo.vue'
import StepThree from '../../components/Editor/PageComponents/Editor/AddQuestion/StepThree.vue';
//config

export default {
  components:{
    'top-menu': TopMenu,
    'left-menu': LeftMenu,
    'right-menu': RightMenu,

    'step-one': StepOne,
    'step-two': StepTwo,
    'step-three': StepThree
  },
  data () {
    return {
      step : 1,
      locale: "kz",

      stepOne:{
        title: '',
        variant: ''
      },
      stepTwo:{
        subjects: [""],
        topics: [],
        exams: [],
        classes: [],
        level : [ 'levelA'],
        language: ['kazakh']
      }, 
      stepThree:{

      }
    }
  },
  methods: {
    next: function(){
      this.step++;
    },
    back: function(){
      if(this.step != 1)
        this.step--
    }
  },
  created() {

  },
  mounted() {

  }
}
</script>

<style scoped>
  .color-black{
    color:black;
  }
  .width-100{
    margin-top: 10px;
    font-size: 16px;
  }
</style>
