<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Алдын-ала қарау: <span style="color:#4CAF50">{{ title }}</span></h6>
        <hr>
        <div v-html="content"></div>
        <div class="row mg-t-20">
          <div class="col-sm-6" style="margin-top:17px;">
            <div v-for="(el, index) in bank" style="border:2px solid transparent;padding:5px;">
              <div class="row" style="margin-top:10px;">
                <div class="col-sm-1">{{index+1}})</div>
                <div class="col-sm-11" style="padding-right:0px;"><div v-html="el.question"></div></div>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="dragablehere">
              <div v-for="el in bank" class="card card-body">
                <div class="row">
                  <div class="col-sm-12" v-html="el.answer" style="padding-left:20px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props:[
    'bank', 'content', 'title'
  ],
  data: function () {
    return {
      questions: [],
      answers: []
    };
  },
  methods: {
    handleDrop(data) {
      this.over = false;
      //alert(`You dropped with data: ${JSON.stringify(data)}`);
    },
  },
  created() {
    $( document ).ready(function() {
      var sortable = Sortable.create( document.getElementById('dragablehere'), {
        group: {
            name: 'shared',
            pull: 'clone',
            put: false
        },
        animation: 150
      });
    });
  },
}
</script>

<style scoped>
  .card{
    margin-top:20px;
    padding:5px;
    cursor:pointer;
  }
</style>
